<div class="about-container">
  <div class="child text">
    <h1>Über Mich</h1>
    <article>
      Ich bin begeisterter Web Entwikckler, mit Freude am designen von Websites und animairen mit GSAP(Green Sock Animation Platform).
      Ich habe Spaß am lernen von neuen Javascript Frameworks Angular2 und Meteor sind die, die ich am besten beherrsche.
      In meiner Freizeit bin ich leidenschaftlicher Fotograf.
    </article>
  </div>
  <img  class="child" src="http://www.matthiasskopek.com/photography/fileadmin/user_upload/me.jpg">
</div>
<div class="site_container">
  <div class="site_child">
    <h2>
      Über diese Seite
    </h2>
    <p>
      Das Ziel dieser Seite war es, eine so schnell wie mögliche Web-App herzustellen. Und mir Angular2
      beizubringen. Denn ich wollte unbedingt mehr mit Angular2 arbeiten also beschloss ich meine Website in
      Angular2 zu schreiben.
    </p>
  </div>
</div>

